/* In your component's style (scss) file */
/* body, html {
  margin: 0;
  padding: 0;
} */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  text-align: center;
  margin: 0;
  /* background-color: #f7accf;
    background-image: linear-gradient(147deg, #ffe1ef 0%, #ff0047 74%); */
    background: url(../../assets/gifs/1330653.png) no-repeat;
    background-size: cover;
    background-position: center;
  height: 100vh;
}

button {
  margin-top: 10px;
  padding: 10px;
  flex-shrink: 0;
  width: auto; /* Set width to auto or specify a value */
  align-self: center;
  border-radius: 8px;
  cursor: pointer;
}

.time-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.time-box {
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 10px;
  background: linear-gradient(to right, #3498db, #2980b9);
  padding: 10px;
  margin: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.time-box.selected {
  background-color: black;
  border-color: rgb(255, 194, 80);
}

.custom-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 45px 0;
}

input {
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
