/* You can add global styles to this file, and also import other style files */
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
}
:root {
    --primary: #fff;
    --bg-color: rgb(5, 53, 61);
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(252, 8, 231);
}