<div class="wrapper">
  <h2 style="color: blue;">(I have added this message: So, Happy Birthday!(2025)</h2>
    <p style="color: blue;">You can see this again i haven't changed it but its now only for having a look.)</p>
    <h2 class="question">{{question}}</h2>
    <img class="gif" alt="gif" [src]="gifSource"/>
    <div class="btn-group">
      <button *ngIf="!showPlanButton" class="yes-btn" (click)="onYesClick()">Yes</button>
        <button *ngIf="!showPlanButton" class="no-btn" (mouseover)="onNoMouseOver()">No</button>
        <button *ngIf="showPlanButton" class="plan-btn" (click)="onPlanClick()">Let's Plan</button>
      <button *ngIf="showPlanButton" class="plan-btn" (click)="onPlanClickNo()">No</button>
    </div>
    <audio controls autoplay loop muted class="audio-btn">
      <source src="../../assets/gifs/song.mp3" type="audio/mp3">
      Your browser does not support the audio tag.
    </audio>
  </div>